.carrito_desplegable{
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 90;
    background-color: #ffffff;
    z-index: 9999;
    /* padding: 20px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.carrito_desplegable h5{
    text-align: center;
    font-size: 18px;
    color: #444444;
    margin-top: 10px;
}
.divCarro{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}
.precioTotal{
    font-size: 23px;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: block;
}
.precioTotal span{
    color: orange;
}
.divCarro img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.controlsCarrito{
    display: flex;
    gap: 10px;
}
.controlsCarrito button{
    width: 30px;
    height: 30px;
    padding: 0;
}
.oculto{
    display: none;
}
/*

cdBXvtrxhyr11dQAoGbi8WRu2veLfysg2Wzm7iLH0d4c19f2

*/
.carrito_desplegable ul{
    display: flex;
    flex-direction: column;
    min-height: 70vh; ;
    max-height: 70vh;
    overflow-y: scroll;
}
.carrito_desplegable ul li{
    list-style: none;
    width: 100%;
    /* height: 50px; */
    background-color: white;
}
.carrito_desplegable ul .eliminarDelCarro{
    width: 20px; 
    height:20px; 
    /* border-radius:10px;  */
    background:red;
    padding:0px;
    position: absolute;
    top: 0;
    right: 0;
}
.divCarro{
    /* height: 50px; */
    position:relative;
}

.carrito_desplegable ul::-webkit-scrollbar {
    width: 8px;
}

.carrito_desplegable ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.carrito_desplegable ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.carrito_desplegable ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}